# EditorConfig is awesome: https://EditorConfig.org

# 頂層配置文件標誌
root = true

# 所有文件通用配置
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# TypeScript 和 JavaScript 文件配置
[*.{ts,tsx,js,jsx,mjs}]
indent_style = space
indent_size = 2
quote_type = single

# CSS, SCSS 和 JSON 文件配置
[*.{css,scss,json}]
indent_style = space
indent_size = 2

# Markdown 文件配置
[*.md]
trim_trailing_whitespace = false
indent_style = space
indent_size = 2

# YAML 文件配置
[*.{yml,yaml}]
indent_style = space
indent_size = 2 